body {
    margin: 0;
  }
  
  .App {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Se necessário, para garantir que o contêiner ocupe toda a altura */
  }
  
  .App p {
    margin: 0;
  }
  
  .App header {
    text-align: center;
    background-color: green;
    font-size: 40px;
    font-weight: bold;
    margin: 0;
    padding: 30px;
  }
  
  .App-Body {
    flex-grow: 1;
    background-color: #D3D3D3;
    display: flex;
    justify-content: center;
  }

  .App-Body-Components
  {
    max-width: 870px;
  }

  .App-Body-Global
  {
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  